<p>
	<%= form_tag({:controller => 'msproj_imp',:id =>'import_form', :action => 'analyze', :project_id => @project, :upload_path => @upload_path, :do_import => 'true'}, :multipart => true) do %>
<!-- 	<%= submit_tag l(:button_import) if @no_mapping_found == 0 %>-->
	<%= submit_tag l(:button_import)%>
	
</p>
<h2>MS Project Import Details for <%= @project.name %> </h2>
<p>
	<b><%= l(:project_title)%>:</b> <%= @title %>
</p>
<p>
<h3>User Mapping</h3>
<% @usermapping.each do |user| %>
Resource_ID: <%= user[0]%> Original Name: <%= user[1]%> Map to: <%= user[2]%><br>
<% end %>

<p>
<h3><%= l(:assignment_tag)%></h3>

<table>
	<tr>
		<th><%= l(:task_tag)%></th>
		<th><%= l(:xml_assignment)%></th>
		<th><%= l(:assignedto_auto)%></th>
		<th>Info</th>
	</tr>
	<% 
#	@members = Member.find(:all, params[:project_id]).collect {|m| User.find_by_id m.user_id }
	@assignments.each do |assign| 
		task = @tasks.select { |task| task.task_id == assign.task_uid}
		assigned_to = @usermapping.select {|id, user| id == assign.resource_uid}[0]
		
	%>
	<tr>
		<td><%= task[0].name %></td>
		<td><%= assigned_to[1] %></td>
		<td><%= assigned_to[2].name unless assigned_to[3]>2 %></td>
		<td><%= I18n.t('user_imp_status_' + assigned_to[3].to_s)%></td>
	</tr>	
	<% end %>
</table>
<% end %>
<p>
<h3><%= l(:task_tag)%></h3>
<% @tasks.each do |task| %>
<%= task.name %> WBS:<%= task.wbs %><br>
<% end %>
</p>