<h2>Ms Project Import plugin - Results:</h2> 
</p>
<h2>Details for <%= @project.name %>:</h2>
<p>
	<b><%= l(:project_title)%>:</b> <%= session[:title] %>
</p>
<p>

<% if @issues_imported.size > 0 %>
	
	<h3>Imported Tasks:</h3>
	<table class="list">
		<tr>
			<th><%= l(:task_tag)%></th>
			<th>assigned to</th>
			<th>Info</th>
		</tr>
		<%
		@issues_imported.each do |task|
			if task.assigned_to_id.nil?
				user="Not assigned!"
				css_td="warning"
			else
				css_td="success"
				user=User.find(task.assigned_to_id)
			end
		%>
		<tr class="issue idnt idnt-<%=issue_deep(task)%>">
			<td class="subject"><%= link_to "#{task.subject}(#{task.id})", { :controller => "issues", :action => "show", :id => task} %></td>
			<td class="assigned_to <%=css_td%>"><%= user%></td>
			<td></td>
		</tr>
		<%end%>
	</table>
<% end %>
</p>