<h2>Ms Project Import plugin - Upload <%= @project.name %></h2>
<%= form_tag(msproj_imp_analyze_path(:project_id => @project), :multipart => true) do %>
	<p>
		<label for="upload_file">Select File</label>
		<%= file_field 'upload', 'datafile' %>
	</p>
	<p>
		<%= l(:label_parent_issue) %>
		<%= select_tag 'parent_issue', options_from_collection_for_select(@parent_issues, "id", "subject"), include_blank: true %> 
		<%= check_box_tag 'erase_issues' %> <%= l(:label_erase_issues)%>
	</p>
	<p></p>
	<p>
		<%= submit_tag l(:button_analyze) %><%= check_box_tag 'details' %> <%= l(:label_check_details)%>	
	</p>
<% end %>